#include <windows.h>

ABOUTDLG DIALOGEX 25, 25, 305, 260
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報"
FONT 10, "ＭＳ ゴシック"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,250,240,50,14
END

GOTOLINEDLG DIALOGEX 10, 10, 165, 70
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "行へ移動"
FONT 10, "ＭＳ ゴシック"
BEGIN
    DEFPUSHBUTTON   "移動"      ,IDOK    , 50,50,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,110,50,50,14
END
